alpha 1
beta 0.0001
beta_sq 0.00000002
step_size 0.1
iterations 100
use_gpu 0 
cpu_threads 8 
host_io_dir /DATA/aws-data/
node_io_dir /home/ec2-user/aws-data/
input_file g_5ch.ser
output_file tcr_out.ser
machine ec2-user@ec2-50-17-125-40.compute-1.amazonaws.com 22 0 ~/.ec2/jph-recon-east-kp.pem
#machine ec2-user@ec2-50-17-125-40.compute-1.amazonaws.com 22 1 ~/.ec2/jph-recon-east-kp.pem
