alpha 1
beta 0.0001
beta_sq 0.00000002
step_size 0.1
iterations 5
use_gpu 1 
cpu_threads 1 
host_io_dir /DATA/aws-data/
node_io_dir /home/ec2-user/aws-data/
input_file g_5ch_rep0_24.ser
output_file tcr_out.ser
machine ec2-user@ec2-50-112-77-5.us-west-2.compute.amazonaws.com 22 0 ~/.ec2/jph-recon-kp.pem
